.civic-loader {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
    background-color: transparent;
}

.civic-loader.small {
    width: 48px;
    height: 48px;
}

.civic-loader.large {
    width: 64px;
    height: 64px;
}

.civic-circular {
    animation: rotate 2.0s linear infinite;
    transform-origin: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.civic-path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: square;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 144, 200;
        stroke-dashoffset: -24px;
    }
    100% {
        stroke-dasharray: 144, 200;
        stroke-dashoffset: -172px;
    }
}

.civic-onboarding {
    overflow: visible;
    color: #fff;
    text-align: center;
    background-image: url(../img/background-gradient.svg)
}

.civic-onboarding button {
    user-select: none
}

.civic-button-container button.medium {
    min-width: 200px;
    height: 48px;
    padding: 0 32px
}

.civic-onboarding button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-transform: uppercase;
    background-color: #3ab03e;
    border: 0;
    outline: 0;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    letter-spacing: 1px;
    padding: 4px 8px;
    text-decoration: none;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    vertical-align: middle;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.civic-onboarding a {
    color: #3ab03e;
    text-decoration: none;
    transition: color .25s ease
}

.civic-informant .civic-button-container .civic-help-links:hover {
    color: #525252;
    cursor: pointer
}

body .civic-lights-out, html .civic-lights-out {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    background: #000;
    -moz-transition: opacity .25s ease;
    -o-transition: opacity .25s ease;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
    opacity: 0;
    visibility: hidden
}

body.civic-hit-the-lights, html.civic-hit-the-lights {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    -webkit-overflow-scrolling: auto
}

body.civic-hit-the-lights .civic-lights-out, html.civic-hit-the-lights .civic-lights-out {
    opacity: .8;
    visibility: visible;
    z-index: 999970
}

body.civic-hit-the-lights .zEWidget-launcher, html.civic-hit-the-lights .zEWidget-launcher {
    z-index: 1 !important
}

@media (min-width: 1024px) and (max-width: 1199px) {
    body.civic-hit-the-lights-desktop, html.civic-hit-the-lights-desktop {
        position: fixed;
        overflow: hidden;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        -webkit-overflow-scrolling: auto
    }

    body.civic-hit-the-lights-desktop .civic-lights-out, html.civic-hit-the-lights-desktop .civic-lights-out {
        opacity: .35;
        visibility: visible
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    body.civic-hit-the-lights-tablet, html.civic-hit-the-lights-tablet {
        position: fixed;
        overflow: hidden;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        -webkit-overflow-scrolling: auto
    }

    body.civic-hit-the-lights-tablet .civic-lights-out, html.civic-hit-the-lights-tablet .civic-lights-out {
        opacity: .35;
        visibility: visible
    }
}

@media (max-width: 767px) {
    body.civic-hit-the-lights-mobile, html.civic-hit-the-lights-mobile {
        position: fixed;
        overflow: hidden;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        -webkit-overflow-scrolling: auto
    }

    body.civic-hit-the-lights-mobile .civic-lights-out, html.civic-hit-the-lights-mobile .civic-lights-out {
        opacity: .35;
        visibility: visible
    }
}

@media (max-width: 767px) {
    body.civic-mobile-fullview, html.civic-mobile-fullview {
        position: fixed;
        overflow: hidden;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        -webkit-overflow-scrolling: auto
    }
}

@media (max-width: 767px) {
    body.civic-mobile-fullview .civic-lights-out, html.civic-mobile-fullview .civic-lights-out {
        opacity: 0;
        visibility: hidden
    }
}

body.civic-no-scroll, html.civic-no-scroll {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    -webkit-overflow-scrolling: auto
}

.civic-modal {
    position: fixed;
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999971;
    opacity: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    visibility: hidden;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@media (max-width: 767px) {
    .civic-modal {
        padding: 0 24px
    }
}

.civic-modal .civic-window {
    position: relative;
    width: 100%;
    max-width: 600px;
    max-height: 90%;
    margin: 0 auto;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: margin-top .5s ease;
    -o-transition: margin-top .5s ease;
    -webkit-transition: margin-top .5s ease;
    transition: margin-top .5s ease
}

@media (max-width: 767px) {
    .civic-modal .civic-window {
        max-width: 400px
    }
}

.civic-modal .civic-window .civic-content {
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 24px;
    padding: 40px;
    background: #fff;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 0 20px 0 rgba(32, 33, 33, .16);
    -webkit-box-shadow: 0 0 20px 0 rgba(32, 33, 33, .16);
    box-shadow: 0 0 20px 0 rgba(32, 33, 33, .16)
}

@media (max-width: 767px) {
    .civic-modal .civic-window .civic-content {
        padding: 16px
    }
}

.civic-modal.civic-show {
    opacity: 1;
    visibility: visible;
    -moz-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease
}

.civic-modal.civic-show .civic-window {
    margin-top: -40px
}

@media (max-height: 800px) {
    .civic-modal.civic-show .civic-window {
        margin-top: 0
    }
}

@media (max-width: 767px) {
    .civic-modal.civic-show .civic-window {
        margin-top: 0
    }
}

.civic-informant .civic-top h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    margin-top: 0;
    padding-top: 30px;
    line-height: 1.5
}

@media (max-width: 320px) {
    .civic-informant .civic-top h3 {
        font-size: 14px
    }
}

.civic-informant .civic-top h3 strong {
    font-weight: 600;
    color: #525252
}

@media (max-width: 767px) {
    .civic-informant .civic-top h3 {
        font-size: 20px;
        padding: 8px
    }
}

.civic-informant .civic-button-container button {
    margin-top: 40px;
    margin-bottom: 32px;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -webkit-transition: all .25s ease;
    transition: all .25s ease
}

@media (max-width: 767px) {
    .civic-informant .civic-button-container button .hide-me {
        display: none
    }
}

.civic-informant .civic-button-container .civic-help-links {
    display: block;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px
}

.civic-informant .civic-button-container .civic-help-links:hover {
    color: #525252;
    cursor: pointer
}

.civic-onboarding a {
    color: #fff
}

.civic-onboarding .civic-help-links {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 480px;
    padding: 8px
}

.civic-onboarding .civic-help-links::after {
    clear: both;
    content: "";
    display: table
}

.civic-onboarding .civic-help-links a {
    display: inline-block;
    font-size: 17px;
    border-bottom: 1px dotted rgba(255, 255, 255, .7);
    -moz-transition: border .25s;
    -o-transition: border .25s;
    -webkit-transition: border .25s;
    transition: border .25s;
    margin-bottom: 16px
}

.civic-onboarding .civic-help-links a:hover {
    border-bottom: 1px solid #fff
}

.civic-button-container button.outline {
    background: 0 0;
    border: 2px solid #fff
}

.civic-button-container button.outline:hover {
    color: #3fa692;
    background: #fff
}

.civic-button-container button.outline.disabled:hover {
    color: #fff;
    background: 0 0
}

.civic-auth-button-container .civic-auth-button {
    width: 100%;
    height: 38px;
    margin: 2px 6px 16px 0;
    padding: 4px 36px 4px 36px;
}

.civic-auth-button {
    min-height: 34px;
    padding: 4px 6px 4px 36px;
    background: #3ab03e url('../img/civic-icon.svg') no-repeat 6px center;
    background-size: 24px 24px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-transform: uppercase;
    border: 0;
    outline: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    vertical-align: middle;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.civic-auth-button:hover {
    background-color: #43c147;
    -moz-box-shadow: 0 0 5px 0 rgba(63, 166, 146, 0.91);
    -webkit-box-shadow: 0 0 5px 0 rgba(63, 166, 146, 0.91);
    box-shadow: 0 0 5px 0 rgba(63, 166, 146, 0.91)
}